
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #080808;
  }
  
  h3 {
    color: #555;
  }
  
  .menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  
 
