/* Styles for the outer container */
.menu {
  margin-top: 3;
  width: 70%;
  /* Adjusted to fit the grid columns */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
}

/* Styles for the container with image and text */
.menu-content {
  display: flex; /* Use flexbox to align items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

/* Styles for the image */
.menu img {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

/* Styles for the card body */
.menu-body {
  flex: 1; /* Allow the body to take remaining space */
  padding: 15px;

  .card-text {
    margin-bottom: 10px;
  }
}

/* Styles for the title */
.menu-title {
  margin: 0;
  font-size: 1.2em;
}

p {
  flex: 1; /* Allow the paragraph to grow and take remaining space */
  margin-right: 15px; /* Add some space between the image and the paragraph */
  font-size: 1.1em;
}

/* Styles for the container with selects and total price */
.menu-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Styles for the first select */
.menu-container1,
.menu-container2 {
  flex-basis: calc(15% - 20px); /* Adjusted for responsive width */
  margin: 2px;
  height: 45px;
  background-color: #eaf1ec;
  border-radius: 0.25rem;
}

/* Styles for the total price container */
.menu-container3 {
  flex-basis: 100%; /* Adjusted for responsive width */
  height: 45px;
  font-size: 1.25rem;
}

.menubtn {
  background-color: #ffcc00;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-left: 0.5rem; /* Adjust this value based on your design requirements */
  border-radius: 5px; 
}

/* Responsive styles using media queries */
@media (max-width: 1200px) {
  .menu {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .menu {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
  }

  .menu-container1,
  .menu-container2,
  .menu-container3 {
    flex-basis: 100%; /* Adjust for full width on smaller screens */
  }
}
