/* userprofile.css */

.user-container {
  max-width: 800px; /* Increase the maximum width */
  margin: auto;
  background-color: #f9f9f9; /* Light background color */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.12);
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px; /* Add some space below the heading */
}

.user-form {
  display: flex;
  flex-direction: column;
}

.label-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label {
  color: #333; /* Change label color */
  margin-bottom: 8px; /* Adjust margin */
  font-weight: bold; /* Make label text bold */
}

.input-container {
  position: relative;
  width: 100%;
}

input {

  padding: 12px; /* Increase padding for better input spacing */
  margin: 8px 0; /* Adjust margin */
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px; /* Slightly round the input corners */
  transition: border-color 0.3s ease-in-out; /* Smooth transition for border color */
}

input:focus {
  border-color: #ffcc00; /* Change border color on focus */
}

/* Additional styling for the "Edit Profile" and "Delete Profile" buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; /* Adjust margin */
}

button {
  flex: 1;
  margin: 0 5px;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

button:hover {
  background-color: #ffcc00;
}
