.promo-card-container {
  display: flex;
  height: 100%;
  width: fit-content;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promo-card {
  width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden; /* Ensure the image doesn't overflow the card */
  transition: transform 0.3s ease; /* Add a smooth transition on hover */
}

.promo-card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
}

.promo-card-body {
  padding: 15px;
  object-fit: cover; /* Ensure the image doesn't shrink */
}

.promo-client-image {
  width: 100%; /* Set the width of the image */
  height:60vh; /* Set the desired height for the image */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit:fill; /* Ensure the image covers the entire container */
}

.promo-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ddd;
}

/* Additional styling for card footer elements, if needed */
.promo-card-footer p {
  margin: 0;
}
