/* Carousal.css
.carousel-inner {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 10;
}

.carousel-item img {
  object-fit: cover;
  filter: brightness(100%);
  max-height: 500px; 

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color:black; 
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;

}

.carousel-img {
  width: 100%;
  max-height: 500px; /* Adjust the height as needed 
} 
*/
.promo-card {
      width: 350px;
      /* Adjust the width as needed */
      margin: 10px;
      /* Other existing styles for .card go here */
}

.promo-card-body {
  padding: 15px;
}
  /* .card-text {
        margin-bottom: 10px;
  } */

  .promo-image {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

