/* Carousal.css */
.carousel-inner {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 10;
}

.carousel-item img {
  object-fit: cover;
  filter: brightness(100%);
  max-height: 500px; 

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color:black; 
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;

}

.carousel-img {
  width: 100%;
  max-height: 500px; /* Adjust the height as needed */
}
