/* cart.css */

.container2 {
    max-width: 1000px; /* Adjust the maximum width of the container */
    margin: auto;
    margin-top: 5px;
    font-size: 1rem;
  }
  
  .table {
    width: 100%; /* Adjust the width of the table */
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .text-success {
    color: #28a745;
  }
  
  .table tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .btn p-0 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .btn.bg-success {
    background-color: #28a745;
    color: #fff;
  }
  
  /* .m-auto {
    margin: auto;
  } */
  
  /* .mt-5 {
    margin-top: 5px;
  } */
  
  /* .fs-2 {
    font-size: 1.5rem;
  } */
  
  /* Responsive styling */
  @media (max-width: 576px) {
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
    }
  }
  